<div>
  <h1>Каталог товаров</h1>
  
  <div class="category-container">
    <div class="category-buttons">
      <label for="category">Выбери категорию:</label>
      <select (change)="selectCategory($event)">
        <option value="">Все категории</option>
        <option *ngFor="let category of categories" [value]="category">
          {{category}}
        </option>
      </select>
    </div>
  </div>

  <div class="products-container">
    <div *ngFor="let product of getfilteredProducts()" class="product-card">
      <img class="product-image" [src]="product.images[0]" [alt]="product.name">
      <h3>{{ product.name }}</h3>
      <p>{{ product.description }}</p>
      <p class="rating">⭐ {{ product.rating }}</p>
      <p class="likes">❤️ {{product.likes}}</p>
      <a [href]="product.link" target="_blank" class="product-link">Подробнее</a>
      
      <div class="action-buttons">
        <button class="like-button" (click)="likeProduct(product.id)">
          <span>👍</span> Like
        </button>
        <button class="delete-button" (click)="removeProduct(product.id)">
          <span>🗑️</span> Удалить
        </button>
      </div>
      
      <div class="share-buttons">
        <button class="share-button whatsapp-button" (click)="shareProduct(product.link, 'whatsapp')">
          Share to WhatsApp
        </button>
        <button class="share-button telegram-button" (click)="shareProduct(product.link, 'telegram')">
          Share to Telegram
        </button>
      </div>
    </div>
  </div>
</div>